"""""""""""""""""""""""""""""""""""""""""""""
"   ██╗   ██╗██╗███╗   ███╗██████╗  ██████╗ "
"   ██║   ██║██║████╗ ████║██╔══██╗██╔════╝ "
"   ██║   ██║██║██╔████╔██║██████╔╝██║      "
"   ╚██╗ ██╔╝██║██║╚██╔╝██║██╔══██╗██║      "
" ██╗╚████╔╝ ██║██║ ╚═╝ ██║██║  ██║╚██████╗ "
" ╚═╝ ╚═══╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ "
"""""""""""""""""""""""""""""""""""""""""""""

set exrc
set number
set nohlsearch
set noerrorbells
set hidden
set tabstop=2
set softtabstop=2
set shiftwidth=2
set nowrap
set undodir=~/.vim/undodir
set undofile
set incsearch
set scrolloff=12
set relativenumber
